body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: auto;
padding: 0  ;
width: 1920px;
}
header>div>a>img{   
    width: 30px;
    height: 30px;
}
.header-content {
    display: flex; 
    align-items: center; 
}

.header-content img {
    margin-right: 10px; 
    margin-left: 30px;
}

.header-content span {
    margin-left: 10px; 
}

header{
    padding: 20px;
    border-bottom: 2px solid green;
    
}

#title{
    margin-left: 530px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 .brasa{
    text-align: center;
    margin-top: 10px;
 }
 .brasa img{
    width: 120px;
 }

 main > div:first-child {
border-bottom: 2px solid green ;
 }

 .imagens{
        height: 250px;
        margin: 10px 10px 10px 0px;
        width: 350px;
        border-radius: 50px;
        margin-left: 10px;
 }
 .texto1 {
    margin: 0px 1570px 0px 10px;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#login{
    margin-left: 500px;
}
.texto2 {
    margin: -36px 785px 0px 0px;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.texto3 {
    margin: -40px 45px 0px 0px;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.texto4 {
    margin: -30px 0px 100px 680px;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.texto5 {
    margin: -110px 0px 0px 1450px;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.login {
    position: relative; /* Position relative for absolute positioning of the form */
}

.form-login {
    display: flex; /* Use flexbox for form layout */
    flex-direction: column; /* Stack inputs vertically */
    align-items: flex-end; /* Align items to the right */
    background-color: #fff; /* White background for the form */
    border: 1px solid #ccc; /* Light border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Padding inside the form */
    margin-left: 400px;
}
footer{
    text-align: center;
    background-color: chartreuse;
}